<h1>{{heading}}</h1>

{{partial "todos/templates/form"}}

<ul id="todos">
  {{#todos}}
    {{partial "todos/templates/todo"}}
  {{/todos}}
</ul>

<div id="count-wrapper">
  <h3>Tasks left todo:</h3>
  <p id="count">{{remainingCount}}</p>
</div>
